# Data collection and cheminformatics
chembl_webresource_client
rdkit-pypi
pandas
numpy<2.0
statsmodels

# Machine learning & deep learning
torch
pytorch-lightning
scikit-learn

# Visualization
matplotlib
seaborn

# Explainability & domain
shap
applicability_domain  # opcional, si usas alguna librería específica

# Utilities
tqdm
jupyter
ipykernel