# Data collection and cheminformatics
chembl_webresource_client
rdkit-pypi
pandas
numpy<2.0
statsmodels

# Machine learning & deep learning
torch
pytorch-lightning
lightning
scikit-learn
xgboost
optuna

# Visualization
matplotlib
seaborn

# Explainability & domain
shap
applicability_domain  
umap-learn

# Utilities
tqdm
jupyter
ipykernel